{% extends "layout.html" %}

{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action="{{ request.get_full_path }}" method="POST">
    {% csrf_token %}
    <p><label for="username">Username</label></p>
    <input type="text" name="username" id="username" value="" />
    <br />
    <p><label for="password">Password</label></p>
    <input type="password" name="password" id="password" value="" />
    <input class="login" type="submit" value="Login">
  </form>


{% endblock %}
